<section>
    <h2 class="text-center">Sign-Up</h2>
    <form #f="ngForm" (ngSubmit)="signUp(f)" class="container">
        <input #in1="ngModel" ngModel name="name" type="text" class="form-control"  placeholder="Your Name" required>
        <div *ngIf="in1.touched && in1.invalid" class="alert alert-danger">Please Enter you Name</div>

        <input #in2="ngModel" ngModel name="Email" type="email" class="form-control"  placeholder="Email" required email>
        <div *ngIf="in2.touched && in2.errors?.required" class="alert alert-danger">Please Enter you Email</div>
        <div *ngIf="in2.touched && in2.errors?.email" class="alert alert-danger">Wrong email form</div>

        <input #in3="ngModel" ngModel name="Password" type="password" class="form-control" placeholder="Password" required minlength="6">
        <div *ngIf="in3.touched && in3.invalid" class="alert alert-danger">Your Password must be more than 6 characters</div>

        <input #in4="ngModel" ngModel name="CPassword" type="password" class="form-control" placeholder="Confirm Password" required>
        <div *ngIf="in3.value != in4.value && in4.touched && in3.touched" class="alert alert-danger">Passwords arent equal!!</div>
        <br>
        <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
        <button class="btn btn-primary" [disabled]="f.invalid || in3.value != in4.value">Create Account</button>
    </form>
</section>
